.navbar{
  background-color: black;
  background-image: linear-gradient(silver, #9968);
  height: 60px;
  width: 100%;
}
img{
    height: 45px;;
}
h2{
  color:white;
}
.text-center{
  text-align: center;
}