<app-header></app-header>
<br>
<p-tabMenu  [model]="items" [activeItem]="activeItem">
    <ng-template pTemplate="item" let-item let-i="index">
        <div style="position: relative; text-align: center; min-width: 10em">
            <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
            <div  class="ui-menuitem-text">
                {{item.label}}
            </div>
        </div>
    </ng-template>
</p-tabMenu>
<div *ngIf="id==0">
    <app-edit-cadastro [pessoa]="pessoa"></app-edit-cadastro>
</div>
<div *ngIf="id==1">
    <app-edit-cartao [pessoa]="pessoa"></app-edit-cartao>
</div>
<div *ngIf="id==2">
    <app-edit-endereco [pessoa]="pessoa"></app-edit-endereco>
</div>
<div *ngIf="id==3">
    <app-edit-telefone [pessoa]="pessoa"></app-edit-telefone>
</div>
<br>
<button [routerLink]="['/usuario',pessoa.id]" style="float: right;width: 100px" pButton type="button" label="Voltar"></button>
