<p-card styleClass="ui-card-shadow">
    <div>
        <p-header>
            <h1 style="color: red; text-align: center; font-size: 40px">Pedido #{{pedidoNum}}</h1>
        </p-header>
        <h3 style="text-align: center;position: relative;bottom: 30px;">Compra efetuada com sucesso!</h3>
        <a class="p-grid p-justify-center" routerLink="/">
            <button name="btn_conf_compra" style="font-size: 30px" pButton type="button" label="Entendido!" class="ui-button-success"></button>    
        </a>
    </div>

</p-card>