<p-tabMenu  [model]="items" [activeItem]="activeItem">
    <ng-template pTemplate="item" let-item let-i="index">
        <div style="position: relative; text-align: center; min-width: 10em">
            <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
            <div  class="ui-menuitem-text">
                {{item.label}}
            </div>
        </div>
    </ng-template>
</p-tabMenu>
<a routerLink="/">Voltar ao site</a>
<br>
<div *ngIf="id==0">
    <app-grafico></app-grafico>
</div>
<div *ngIf="id==1">
    <app-menu-produto></app-menu-produto>
</div>
<div *ngIf="id==2">
    <app-cons-cadastro-admin></app-cons-cadastro-admin>
</div>
<div *ngIf="id==3">
    <app-pedidos-admin></app-pedidos-admin>
</div>
<div *ngIf="id==4">
    <app-troca-admin></app-troca-admin>
</div>
    