<app-header></app-header>
<br>
<div class="p-grid p-justify-center" *ngIf="mostrarSpinner">
    <div class="p-col-2">
        <div class="box">            
            <p-progressSpinner></p-progressSpinner>
        </div>    
    </div>
</div>
<p-tabMenu  *ngIf="mostrarTela==true" [model]="items" [activeItem]="activeItem">
    <ng-template pTemplate="item" let-item let-i="index">
        <div style="position: relative; text-align: center; min-width: 10em">
            <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
            <div  class="ui-menuitem-text">
                {{item.label}}
            </div>
        </div>
    </ng-template>
</p-tabMenu>
<div *ngIf="mostrarTela==true" >
    <div *ngIf="id==0">
            <app-cons-cadastro [pessoa]="pessoa"></app-cons-cadastro>
        </div>
        <div *ngIf="id==1">
            <app-cons-endereco [pessoa]="pessoa"></app-cons-endereco>
        </div>
        <div *ngIf="id==2">
            <app-cons-cartao [pessoa]="pessoa"></app-cons-cartao>
        </div>
        <div *ngIf="id==3">
            <app-pedidos-usuario></app-pedidos-usuario>
        </div>
        <div *ngIf="id==4">
                <app-cupom></app-cupom>
        </div>
        <div *ngIf="id==5">
            <br>
            <app-alt-senha></app-alt-senha>
        </div>
</div>


