<p-steps [model]="items" [activeIndex]="id"></p-steps>

<div *ngIf="id==0">
    <app-cad-usuario [usuario]="usuario" (update)="updateUsuario($event)"
                        [id]="id" (updateId)="updateId($event)"></app-cad-usuario>
</div>
<div *ngIf="id==1">
    <app-cad-telefone [usuario]="usuario" (update)="updateUsuario($event)"
                        [id]="id" (updateId)="updateId($event)"></app-cad-telefone>
</div>
<div *ngIf="id==2">
        <app-cad-endereco [usuario]="usuario" (update)="updateUsuario($event)"
                        [id]="id" (updateId)="updateId($event)"></app-cad-endereco>
</div>
<div *ngIf="id==3" >
    <app-cad-cartao [usuario]="usuario" (update)="updateUsuario($event)"
                        [id]="id" (updateId)="updateId($event)"></app-cad-cartao>
</div>
<div *ngIf="id==4" >
    <app-cad-senha [usuario]="usuario" (update)="updateUsuario($event)"
                    [id]="id" (updateId)="updateId($event)"></app-cad-senha>
</div>

    
