<p-table [value]="pedido"  [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Produtos</th>
            <th>Valor</th>  
            <th>Frete</th>
            <th>Data</th> 
            <th>Alterar status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ped>
        <tr style="text-align:center" >
            <td width="40">{{ped.id}}</td>
            <td>(dados)</td>
            <td>(dados)</td>
            <td>(dados)</td>
            <td>(dados)</td>
            <td>(dados)</td>
            <td><p-dropdown [options]="status" [(ngModel)]="selectedStatus"></p-dropdown></td>
        </tr>
    </ng-template>
</p-table>