<p-table [value]="pedidos"  [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Valor</th>  
            <th>Data</th> 
            <th>Status</th> 
            <th>Alterar status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ped>
        <tr style="text-align:center" >
            <td width="40">{{ped.id}}</td>
            <td>{{ped.total |currency:'BRL':'symbol':'0.2-2':'pt'}}</td>
            <td>16/09/2019</td>
            <td *ngIf="!alterado">{{ped.statusPedido}}</td>
            <td *ngIf="alterado">Processando status...</td>
            <td><p-dropdown (onChange)="processo()" [options]="status" [(ngModel)]="ped.statusPedido" ></p-dropdown>
            <button name="btn_troca" type="button" (click)="changeStatus(ped)" pButton icon="pi pi-check"></button></td>
        </tr>
    </ng-template>
</p-table>