<br>
<p-card header="{{pessoa.nome|uppercase}}" >
    <div>
        CPF: {{pessoa.cpf}}
    </div>
</p-card>
<p-table [value]="pessoa.telefone">
        <ng-template pTemplate="header">
            <tr>
                <th>DDD</th>
                <th>Numero</th>  
                <th></th>  
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-telefone>
            <tr style="text-align:center"> 
                <td>{{telefone.ddd}}</td>
                <td>{{telefone.numero}}</td>
                <td><button name="btn_edit_tel" pButton type="button" icon="pi pi-pencil" ></button></td>
            </tr>
        </ng-template>
    </p-table>