<p-fieldset id="sum" [style]="{width: '350px'}">
    <p-header style="color: red"><h3>Resumo da compra</h3></p-header>
    <hr>
    <h4>1x Guitarra guibson 2002</h4>
    <h4>1x Saxofone Ragnarok 1980</h4>
    <hr>
    <br>
    <span>Subtotal: 
        <strong style="text-align: right">R$ (Valor)</strong>
    </span>
    <hr>
    <br>
    <p style="color: black; font-size: 18px"><strong>Frete</strong></p>
            <span class="ui-float-label">
                <input name="frete_compra" placeholder="Digite seu CEP" pKeyFilter="num" id="float-input" type="text" size="20" maxlength="8" style="text-align: initial" pInputText> 
                &nbsp;<p-button name="btn_frete_compra" label="Ok"></p-button>
            </span>
    <hr>
    <br>
    <p style="color: black; font-size: 18px"><strong>Cupom</strong></p>
            <span class="ui-float-label">
                <input name="cupom_compra" placeholder="Código do cupom" pKeyFilter="alphanum" id="float-input" type="text" size="20" maxlength="8" style="text-align: initial" pInputText> 
                &nbsp;<p-button name="btn_cupom_compra" label="Ok"></p-button>
            </span>
    <hr>
    <br>
    <span>Total: 
            <strong style="text-align: right">R$ (Valor)</strong>
        </span>
    <br>
    <div>
        <a routerLink="/fechamento">
            <button name="final_compra" style="float: right" pButton type="button" label="Finalizar compra" class="ui-button-success"></button>
        </a>
    </div>
</p-fieldset>