<p-card header="Resumo Compra" styleClass="ui-card-shadow"  >
    <div *ngFor="let i of item">
        <hr>
        <h4>1x {{i.produto.nome}}</h4>
        <span>valor: 
            <strong style="text-align: right">R$ {{i.produto.preco}}</strong>
        </span>
        <hr>
        <br>
    </div>
    <hr>
    <h4>Frete</h4>
    <span>valor: 
        <strong style="text-align: right">{{valorFrete |currency:'BRL':'symbol':'0.2-2':'pt'}}</strong>
    </span>
    <hr>
        <span>Total pago: 
            <strong style="text-align: right;">{{sum |currency:'BRL':'symbol':'0.2-2':'pt'}}</strong>
        </span>
    <br>
    <span>Total a pagar: 
            <strong style="text-align: right;">{{totalCompra+valorFrete |currency:'BRL':'symbol':'0.2-2':'pt'}}</strong>
        </span>
    <br>
</p-card>
