<p-card header="PAGAMENTO" styleClass="ui-card-shadow">
    <div class="p-grid">
        <div class="p-col-2">
            <div class="box">
                <button type="button" name="btn_Card_compra" pButton icon="pi pi-plus" (click)="showDialogCard()"
                    label="Novo"></button>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-8">
            <div class="box">
                <p-dropdown [style]="{'width':'50%'}" [options]="opcoesLabel" [(ngModel)]="opcao" placeholder="escolha"
                    [showClear]="true"></p-dropdown>
                <button class="m-l-2px" type="button" name="opcao" (click)="adicionar()" pButton
                    icon="pi pi-plus"></button>
            </div>
        </div>
    </div>
    <div class="p-grid" *ngIf="mostrarLabel">
        <div class="p-col-8">
            <div class="box">
                <p-dropdown [style]="{'width':'80%'}" [options]="itensLabel" [(ngModel)]="item" placeholder="escolha"
                    [showClear]="true"></p-dropdown>
            </div>
            <div class="box">
                <input *ngIf="cupom"  disabled pKeyFilter="money" placeholder="valor R$" type="text" size="10" [(ngModel)]="valorCard[0] " 
                    pInputText>
                <input *ngIf="!cupom" pKeyFilter="money" placeholder="valor R$" type="text" size="10" [(ngModel)]="valorCard[0]"
                    pInputText>
                <div class="box">
                    <button type="button" name="btn_Card_compra" (click)="processar()" pButton icon="pi pi-plus"
                        label="Processar"></button>
                </div>
            </div>
        </div>
    </div>
</p-card>
<p-dialog header="Novo Cartão" [(visible)]="displayCard" [modal]="true" [responsive]="true"
    [style]="{width: '1150px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
    <app-cad-cartao [usuario]="usuario" (update)="updateUsuario($event)"
        ></app-cad-cartao>
</p-dialog>