<p-card styleClass="ui-card-shadow" [style]="{width: '800px'}" >
    <h1>ENTREGA</h1>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="ui-g-15" style="width:270px;margin-bottom:10px">
                <div class="ui-g-12"><p-radioButton name="end_compra" value="Option 1" label="Avenida Henrique Heroles, 201" [(ngModel)]="val1" inputId="opt1"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="end_compra" value="Option 2" label="Rua Carlos Barattino, 908" [(ngModel)]="val1" inputId="opt2"></p-radioButton></div>
            </div>
        </div>
        <button type="button" name="btn_novoEnd_compra" (click)="showDialogEnd()" pButton icon="pi pi-plus" label="Adicionar novo endereço"></button>
    </div>
</p-card>
<br>

<p-dialog header="Novo endereço" [(visible)]="displayEnd" [modal]="true" [responsive]="true" [style]="{width: '1150px', minWidth: '200px'}" [minY]="70" 
         [baseZIndex]="10000">
        <app-cad-endereco [dispBtn]="dispBtn"></app-cad-endereco>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="displayEnd=false" label="Adicionar"></button>
            <button type="button" pButton icon="pi pi-close" (click)="displayEnd=false" label="Cancelar" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>