<!DOCTYPE html>
<html>
    <body>
        <app-header></app-header>

        <app-nova-entrega [pessoa] ="pessoa"></app-nova-entrega>
        
        <app-novo-cartao [pessoa] ="pessoa" [sum]="sum" (valorCompra)="totalCompra($event)" [valorTotal]="valorTotal"></app-novo-cartao>
        
        <app-resumo-compra [sum]="sum" (valorCompra)="totalCompra($event)" [valorTotal]="valorTotal"></app-resumo-compra>
        <div>
            <a routerLink="/fechamento">
                <button name="final_compra" style="float: right;position: relative; bottom: 675px;right: 175px;" pButton type="button" label="Finalizar compra" class="ui-button-success"></button>
            </a>
        </div>
    </body>
</html>


