<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
        <button (click)="byId()" pButton type="button" label="Buscar"></button>
        <input [(ngModel)]="idProd" type="text" pInputText placeholder="Palavra chave">         
    </div>
 </div>
<p-table [value]="produto">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Ano</th>
                <!-- <th>Tipo</th> -->
                <th>Preço</th>
                <th>Quantidade em estoque</th>
                <th>Editar descrição</th>
                <th>Editar itens de venda</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prod>
            <tr style="text-align:center">
                <td>{{prod.id}}</td>
                <td>{{prod.nome}}</td>
                <td>{{prod.marca}}</td>
                <td>{{prod.ano | date: 'yyyy'}}</td>
                <!-- <td>{{inst.tipo.tipo}}</td> -->
                <td>{{prod.grupoPrecificacao.valorFinalProduto |currency:'BRL':'symbol':'0.2-2':'pt'}}</td>
                <td>{{prod.quantidade}}</td>
                <td><a routerLink="/edit_prod/{{prod.id}}/estoque/1"><button name="btn_edit_prod" pButton type="button" icon="pi pi-pencil" ></button></a></td>
                <td><a routerLink="/edit_prod/{{prod.id}}/estoque/2"><button name="btn_edit_prod" pButton type="button" icon="pi pi-chart-bar" ></button></a></td>
                <td><button name="btn_delete_prod" (click)="deletar(prod.id)" pButton type="button" icon="pi pi-trash" ></button></td>
            </tr>
        </ng-template>
    </p-table>