<p-table [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th width="40">Id</th>
            <th>Cliente</th>
            <th>Produto(s)</th>
            <th>Valor Total</th>  
            <th width="100">Data</th> 
            <th>Motivo</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr style="text-align:center" >
            <td width="40">1</td>
            <td>Giovanni</td>
            <td><h5>produto 12 12</h5></td>
            <td>20</td>
            <td width="100">10/12/2019</td>
            <td>(Motivo)</td>
            <td><button name="btn_aceitar_troca" style="width: 97px" pButton icon="pi pi-check" type="button" label="Aceitar" class="ui-button-success"></button> <p></p>
                <button name="btn_recusar_troca" pButton icon="pi pi-ban" type="button" label="Recusar" class="ui-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>