<app-header></app-header>

<p-card styleClass="ui-card-shadow">
    <p-header>
        <h1 style="color: red; text-align: center; font-size: 40px">Você digitou alguma informação invalida</h1>
    </p-header>
    <p style="text-align: center" >Tente novamente, verifique se CPF, senha ou já tem um cadastro no sistema</p>
    <br>
    <a class="p-grid p-justify-center" routerLink="/">
        <button name="btn_conf_cad" style="font-size: 20px " pButton type="button" label="Voltar" class="ui-button-success"></button>    
    </a>

</p-card>
