<p-card header="Cadastrar Telefones" styleClass="ui-card-shadow">
    <div class="p-grid">
    <div class="p-col-1">
        <span>DDD
            <input name="ddd-tel" class="p-col-12" [(ngModel)]="telefone.ddd" type="text" pInputText> 
        </span>
    </div>
    <div class="p-col-3">
            <span>Número
                <input name="numero-tel" class="p-col-12" [(ngModel)]="telefone.numero" type="text" pInputText> 
            </span>
        </div>
    </div>

       <p-footer>
        <a >
            <button name="btn_salvar" (click)="salvar(telefone)" pButton type="button" label="Salvar" icon="pi pi-check" style="margin-right: .25em"></button>
        </a>
    </p-footer>
</p-card>
     
