<p-card styleClass="ui-card-shadow" [style]="{width: '800px'}" >
    <h1>ENTREGA</h1>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="ui-g-15" style="width:270px;margin-bottom:10px">
                <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="Avenida Henrique Heroles, 201" [(ngModel)]="val1" inputId="opt1"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="Rua Carlos Barattino, 908" [(ngModel)]="val1" inputId="opt2"></p-radioButton></div>
            </div>
        </div>
        <button type="button" (click)="showDialogEnd()" pButton icon="pi pi-plus" label="Adicionar novo endereço"></button>
    </div>
</p-card>
<br>
<p-card styleClass="ui-card-shadow" [style]="{width: '800px'}" >
    <h1>PAGAMENTO</h1>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="ui-g-15" style="width:270px;margin-bottom:10px">
                <div class="ui-g-12"><p-radioButton name="group2" value="Option 1" label="Cartão terminado em: 0123" [(ngModel)]="val2" inputId="opt1"></p-radioButton></div>
                <div class="ui-g-12"><p-radioButton name="group2" value="Option 2" label="Cartão terminado em: 3210" [(ngModel)]="val2  " inputId="opt2"></p-radioButton></div>
            </div>
        </div>
        <button type="button" (click)="showDialogCard()" pButton icon="pi pi-plus" label="Adicionar novo cartão"></button>
    </div>
</p-card>
<br>
<p-fieldset id="sum" [style]="{width: '350px'}">
        <p-header style="color: red"><h3>Resumo da compra</h3></p-header>
        <hr>
        <h4>1x Guitarra guibson 2002</h4>
        <h4>1x Saxofone Ragnarok 1980</h4>
        <hr>
        <br>
        <span>Subtotal: 
            <strong style="text-align: right">R$ (Valor)</strong>
        </span>
        <hr>
        <br>
        <p style="color: black; font-size: 18px"><strong>Frete</strong></p>
                <span class="ui-float-label">
                    <input placeholder="Digite seu CEP" pKeyFilter="num" id="float-input" type="text" size="20" maxlength="8" style="text-align: initial" pInputText> 
                    &nbsp;<p-button label="Ok"></p-button>
                </span>
        <hr>
        <br>
        <p style="color: black; font-size: 18px"><strong>Cupom</strong></p>
                <span class="ui-float-label">
                    <input placeholder="Código do cupom" pKeyFilter="num" id="float-input" type="text" size="20" maxlength="8" style="text-align: initial" pInputText> 
                    &nbsp;<p-button label="Ok"></p-button>
                </span>
        <hr>
        <br>
        <span>Total: 
                <strong style="text-align: right">R$ (Valor)</strong>
            </span>
        <br>
        <div>
            <a href="/">
                <button style="float: right" pButton type="button" label="Finalizar compra" class="ui-button-success"></button>
            </a>
        </div>
    </p-fieldset>










<p-dialog header="Novo endereço" [(visible)]="displayEnd" [modal]="true" [responsive]="true" [style]="{width: '800px', minWidth: '200px'}" [minY]="70" 
         [baseZIndex]="10000">
        <app-cad-endereco></app-cad-endereco>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="displayEnd=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="displayEnd=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>


<p-dialog header="Novo Cartão" [(visible)]="displayCard" [modal]="true" [responsive]="true" [style]="{width: '1150px', minWidth: '200px'}" [minY]="70" 
         [baseZIndex]="10000">
        <app-cad-cartao></app-cad-cartao>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="displayCard=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="displayCard=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>