<p-messages [(value)]="msgs"></p-messages>
<p-card header="Cadastrar senha" styleClass="ui-card-shadow">
    <hr width="100%" />
    <div class="p-grid">
        <div class="p-col-5">
            <span>Digite a senha: <br>
                <input name="senha1" #senha1 placeholder="Senha" class="p-col-7" type="password" pPassword />
            </span>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-5">
                <input name="senha2" #senha2 placeholder="Digite novamente" class="p-col-7" type="password" pPassword />
        </div>
    </div>
    <p-footer>
        <a href="/conf_cadastro">
            <button name="btn_salvar" (click)="salvar(senha1.value,senha2.value)" pButton type="button" label="Salvar" icon="pi pi-check" style="margin-right: .25em"></button>
        </a>
    </p-footer>
</p-card>
