<p-steps [model]="items" [activeIndex]=3></p-steps>

<p-card header="Cadastrar senha" styleClass="ui-card-shadow">
    <hr width="100%" />
    <div class="p-grid">
        <div class="p-col-5">
            <span>Digite a senha: <br>
                <input placeholder="Senha" class="p-col-7" type="password" pPassword />
            </span>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-5">
                <input placeholder="Digite novamente" class="p-col-7" type="password" pPassword />
        </div>
    </div>

    <p-footer>
        <button (click)="salvar(usuario)" pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
    </p-footer>
</p-card>
